.photo-grid {
  max-width: 1280px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(auto, 284px));
}

@media screen and (max-width: 1124px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(auto, 300px));
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(auto, 352px));
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    grid-template-columns: minmax(288px, auto);
    gap: 12px;
  }
}
