.header__lang {
  width: 30px;
  height: 28px;
  margin-right: 18px;
  padding-bottom: 6px;
}

.header__lang:last-child {
  margin-right: 0px;
}

@media (max-width: 320px) {
  .header__lang {
    width: 22px;
    height: 20px;
  }
}