.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 48px;
  max-width: 95%;
}

@media (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 0 16px;
  }
}
